---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Stargarder gegen Verdrängung</title>
  </head>
  <body>
    <h1>DEMO</h1>
    <h2>Stargarder gegen Verdrängung</h2>
    <p class="location">6. März um 18:00 bei der Gethsemane-Kirche</p>
	<div class="message">
		<p>
			Ein Haus mit 40 Familien wurde über Nacht ohne Angebot einer Ersatzunterkunft geräumt. Das ist nun schon seit über einem Monat so. Die Reparaturarbeiten ziehen sich endlos hin und führen zu einer Gentrifizierung.
			
			Lasst uns gemeinsam die unmenschliche Politik der Vermieter stoppen!
			Landlord sind keine MenschenLord! 
			Die Stadt ist für Menschen da, nicht für möblierte Luxuswohnungen!

			Wir brauchen Wasser! Wir brauchen Licht! Wir brauchen Heizung!

			Unterstützt eure Nachbarn! 
			Gemeinsam können wir die Entmenschlichung unserer Straße stoppen!
		</p>
		<p>
			A house with 40 families was evicted in one night without any offers of alternative housing. ALready for more then 1 month. Repair work is becoming endless and turning into gentrification.

			Let's stop the inhumane policies of landlords together!
			Landlords are not humanlords! 
			The city is for people, not furnished luxury apartments!

			We need water! We need light! We need heating!

			Support your neighbors! 
			Together we can stop dehumanisation of our street!
		</p>
	</div>
    <h3>Media Coverage</h3>
    <ul class="media-coverage">
      <li>
        <a
          href="https://taz.de/Kellerbrand-in-der-Stargarder-Strasse/!6157145/"
          target="_blank">TAZ.de – 27.2.2026</a
        >
      </li>
      <li>
        <a
          href="https://www.berliner-zeitung.de/mensch-metropole/unfaehigkeit-oder-entmietung-der-kellerbrand-in-der-stargarder-strasse-li.10019128"
          target="_blank">Berliner Zeitung – 15.2.2026</a
        >
      </li>
      <li>
        <a
          href="https://www.morgenpost.de/bezirke/pankow/article411262470/bittere-botschaften-nach-brand-120-menschen-ihrer-haeuser-beraubt.html"
          target="_blank">Morgenpost – 21.2.2026</a
        >
      </li>
    </ul>
  </body>
</html>

<style lang="scss">
  @font-face {
    font-family: "Stefan Bubble";
    src: url("/ABCStefan-Bubble.woff2") format("woff2");
  }
  @font-face {
    font-family: "Stefan Simple";
    src: url("/ABCStefan-Simple.woff2") format("woff2");
  }
  @font-face {
    font-family: "Gravity";
    src: url("/ABCGravityVariable.woff2") format("woff2");
  }
  a,
  a:visited {
    color: inherit;
	text-decoration: none;
  }
  a::before {
	content: "→";
	font-family: "Stefan Bubble";
	margin-right: .5ch;
  }
  a::after {
	content: "←";
	font-family: "Stefan Bubble";
	margin-left: .5ch;
	text-decoration: none !important;
  }
  html,
  body {
    overscroll-behavior: none;
  }
  body {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	padding-right: 25px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(241 0 239);;
    color: white;
    & > * + * {
      margin-top: 1em;
    }
  }
  * {
    margin: 0;
  }
  h1 {
    font-family: "Gravity";
    font-variation-settings: "wght" 1000;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: calc(50px + 5vw);
  }
  h2,
  .location {
    font-family: "Stefan Simple";
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: calc(20px + 2vw);
    white-space: pre-line;
    text-align: center;
    font-weight: 400;
  }
  h3 {
    font-family: "Gravity", sans-serif;
    font-variation-settings:
      "wght" 1000,
      "wdth" 80;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: calc(50px + 3vw);
  }
  .message {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2ch;
	max-width: 100ch;
	font-size: 20px;
	font-family: "Stefan Simple";
	white-space: pre-line;
	@media (max-width: 800px) {
		grid-template-columns: 1fr;
		& > * + * {
			margin-top: 2ch;
		}
	}
  }
  .media-coverage {
    font-family: "Gravity", sans-serif;
    font-size: calc(16px + 1vw);
    text-align: center;
    list-style: none;
  }
</style>
