---
import Sticker from "../components/Sticker.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Stargarder gegen Verdrängung</title>
  </head>
  <body>
    <div class="stickers">
      <Sticker content="👾" />
      <Sticker content="⚡" />
      <Sticker content="⛈" />
      <Sticker content="🤡" />
      <Sticker content="👹" />
      <Sticker content="👻" />
    </div>
    <h1>Demo</h1>
    <h2>Stargarder gegen Verdrängung</h2>
    <div>
      <h1>Komm! Mach Mit! Solidarität!</h1>
      <h1>Come! Join! Solidarity!</h1>
    </div>
    <p class="location">6. März um 18:00 bei der Gethsemane-Kirche</p>
    <h3>Media Coverage</h3>
    <div class="media-coverage">
      <a
        href="https://taz.de/Kellerbrand-in-der-Stargarder-Strasse/!6157145/"
        target="_blank">TAZ.de</a
      >
      <data> 27.2.2026 </data>
      <a
        href="https://www.morgenpost.de/bezirke/pankow/article411262470/bittere-botschaften-nach-brand-120-menschen-ihrer-haeuser-beraubt.html"
        target="_blank">Morgenpost</a
      >
      <data> 21.2.2026 </data>
      <a
        href="https://www.berliner-zeitung.de/mensch-metropole/unfaehigkeit-oder-entmietung-der-kellerbrand-in-der-stargarder-strasse-li.10019128"
        target="_blank">Berliner Zeitung</a
      >
      <data> 15.2.2026 </data>
      <a
        href="https://www.loky.news/loky-sprengung-jahn-sportpark/#:~:text=was%20tun%2C%20wenn's%20brennt%3F"
        target="_blank"
      >
        Loky News
      </a>
      <data> 13.2.2026 </data>
      <a
        href="https://www.tagesspiegel.de/berlin/bezirke/pankow/ein-kellerbrand-mit-verheerenden-folgen-40-familien-in-berlin-sind-seit-wochen-wohnungslos--ein-ende-ist-nicht-in-sicht-15236237.html"
        target="_blank"
      >
        Tagesspiegel
      </a>
      <data> 12.2.2026 </data>
    </div>
    <div class="message">
      <h1>Unsere Geschichte</h1>
      <p>
        Ein Haus mit 40 Familien wurde über Nacht ohne Angebot einer
        Ersatzunterkunft geräumt. Das ist nun schon seit über einem Monat so.
        Die Reparaturarbeiten ziehen sich endlos hin und führen zu einer
        Gentrifizierung.
      </p>
      <p>
        Lasst uns gemeinsam die unmenschliche Politik der Vermieter stoppen!
        Landlord sind keine MenschenLord! Die Stadt ist für Menschen da, nicht
        für möblierte Luxuswohnungen!
      </p>
      <p>Wir brauchen Wasser! Wir brauchen Licht! Wir brauchen Heizung!</p>
      <p>
        Unterstützt eure Nachbarn! Gemeinsam können wir die Entmenschlichung
        unserer Straße stoppen!
      </p>
      <h1>Our Story</h1>
      <p>
        A house with 40 families was evicted in one night without any offers of
        alternative housing. ALready for more then 1 month. Repair work is
        becoming endless and turning into gentrification.
      </p>
      <p>
        Let's stop the inhumane policies of landlords together! Landlords are
        not humanlords! The city is for people, not furnished luxury apartments!
      </p>
      <p>We need water! We need light! We need heating!</p>
      <p>
        Support your neighbors! Together we can stop dehumanisation of our
        street!
      </p>
    </div>
  </body>
</html>

<style lang="scss">
  @font-face {
    font-family: "Stefan Bubble";
    src: url("/ABCStefan-Bubble.woff2") format("woff2");
  }
  @font-face {
    font-family: "Stefan Simple";
    src: url("/ABCStefan-Simple.woff2") format("woff2");
  }
  @font-face {
    font-family: "Gravity";
    src: url("/ABCGravityVariable.woff2") format("woff2");
    
  }
  body {
    position: relative;
  }
  .stickers {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
  }
  data {
    font-family: "Stefan Simple";
    color: inherit;
  }
  a,
  a:visited {
    font-family: "Stefan Simple";
    color: inherit;
    text-decoration: none;
  }
  a::before {
    content: "→";
    font-family: "Stefan Simple";
    margin-right: 0.5ch;
  }
  a::after {
    content: "←";
    font-family: "Stefan Simple";
    margin-left: 0.5ch;
    text-decoration: none !important;
  }
  html,
  body {
    overscroll-behavior: none;
  }
  body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: 800px) {
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #17ffc5;
    color: black;
    & > *:not(.stickers) + * {
      margin-top: 50px;
    }
  }
  * {
    margin: 0;
  }
  h1,
  h3 {
    font-family: "Gravity", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variation-settings:
      "wght" 1000,
      "wdth" 70;
    // text-transform: uppercase;
    // white-space: pre-line;
    letter-spacing: -0.01em;
    font-size: 5vw;
    line-height: 0.8em;
    text-align: center;
    font-weight: 400;
    @media (max-width: 800px) {
      font-size: 10vw;
    }
  }
  h2,
  .location {
    font-family: "Stefan Simple";
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: 40px;
    white-space: pre-line;
    text-align: center;
    font-weight: 400;
  }
  .message {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    gap: 1em 4ch;
    max-width: 72ch;
    font-size: 20px;
    font-family: "Stefan Simple";
    // white-space: pre;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      & > * + * {
        margin-top: 2ch;
      }
    }
  }
  .media-coverage {
    font-family: "Gravity", sans-serif;
    display: grid;
    gap: 0 4ch;
    @media (max-width: 800px) {
      gap: 0 2ch;
    }
    grid-template-columns: auto auto;
    font-size: calc(16px + 1vw);
    text-align: center;
    list-style: none;
  }
</style>
